<div>
  <h3 class="text-xl font-bold my-4">Open invitations</h3>

  <ng-container *ngFor="let invite of inviteService.currentPadletUsers|filter: [pIsAcceptInvite]: 'NOT'">
    <div class="flex items-center justify-between   rounded-box bg-base-200 p-2 my-1">
      <p class="font-bold">{{invite.name}}</p>
      <div>
        <button (click)="acceptInvite(invite)" class="btn btn-sm btn-success">Accept</button>
        <button (click)="declineInvite(invite)" class="btn btn-sm btn-danger">Decline</button>
      </div>
    </div>
  </ng-container>
</div>
<hr>
<div>
  <h3 class="text-xl font-bold my-4">Shared padlets</h3>

  <ng-container *ngFor="let invite of inviteService.currentPadletUsers|filter: [pIsAcceptInvite]">
    <div class="flex items-center justify-between  rounded-box bg-base-200 p-2 my-1">
      <a class="font-bold" [href]="getLink(invite)">{{invite.name}}</a>
      <button (click)="declineInvite(invite)" class="btn btn-sm btn-danger">Leave</button>
    </div>
  </ng-container>
</div>
