<div class="w-full">
  <div>
    <h1 class="text-5xl font-medium mb-4">{{padlet.name}}</h1>
  </div>
  <div class="flex items-center bg-base-100 justify-between w-full rounded-full shadow my-4 p-4">

    <ng-container *ngIf="padlet.user?.avatar">
      <div class="flex items-center">
        <span class="text-base"> Padlet of: {{padlet.user?.name}}</span>
        <div class="avatar">
          <div class="w-12 h-12 rounded-full">
            <img [src]="padlet.user?.avatar" [alt]="padlet.user?.name"/>
          </div>
        </div>
      </div>
    </ng-container>

    <button stopPropagation (click)="showModal('addPost')" class="btn btn-primary">New Post</button>

    <tw-modal *ngIf="modals['addPost']" modalName="addPost" teleport (modalCloseEvent)="closeModal($event)"
              modalTitle="New Post">
      <tw-post-store [padlet]="padlet"></tw-post-store>
    </tw-modal>

    <div *ngIf="!isPublic" class="avatar-group -space-x-6">
      <ng-container *ngFor="let user of padlet.padlet_user">
        <div class="avatar h-14">
          <div class="w-12 h-12 rounded-full">
            <img [src]="user.avatar" [alt]="user.name"/>
          </div>
        </div>
      </ng-container>

    </div>

    <!--  Share Padlet -->

    <button class="btn" (click)="copyToClipboard()">Copy link</button>

    <button *ngIf="auth.isAuthenticated && !isPublic && auth.isAdmin(padlet)" stopPropagation
            (click)="showModal('share')" class="btn btn-primary">Share Padlet
    </button>
    <tw-modal *ngIf="modals['share']" modalClass="w-9/12 max-w-5xl" modalName="share" teleport
              (modalCloseEvent)="closeModal($event)" modalTitle="Share Padlet">
      <tw-padlet-share [padlet]="padlet"></tw-padlet-share>
    </tw-modal>

    <!--  Delete Padlet  -->
    <button *ngIf="isPublic || (auth.isAuthenticated && auth.isAdmin(padlet))" stopPropagation
            (click)="showModal('delete')" class="btn btn-error">Delete Padlet
    </button>
    <tw-modal *ngIf="modals['delete']" modalName="delete" teleport (modalCloseEvent)="closeModal($event)"
              modalTitle="Delete Padlet">
      <p>Are you sure you want to delete this padlet?</p>
      <div class="modal-actions">
        <button (click)="deletePadlet()" class="btn btn-error">Yes delete it!</button>
      </div>
    </tw-modal>

    <!--  Toggle Public  -->
    <div *ngIf="auth.isAdmin(padlet)" class="form-control">
      <label class="label cursor-pointer">
        <input (change)="togglePublic()" type="checkbox" class="toggle toggle-success" [checked]="isPublic"/>
        <span class=" ml-2 label-text">Padlet is public</span>
      </label>
    </div>
  </div>
</div>

<div class="grid grid-cols-3 gap-4">
  <ng-container *ngFor="let post of posts">

    <!--  Post Card  -->
    <div class="card max-w-96 bg-base-100 shadow-xl">
      <figure><img [src]="post.cover" alt=""/></figure>
      <div class="card-body">
        <h2 class="card-title">
          <input [value]="post.content" (input)="updatePost(post, $event)" (click)="$event.preventDefault()" type="text"
                 placeholder="Type here"
                 class="card-title input input-ghost input-sm text-lg p-0 w-full max-w-xs"/>
        </h2>
        <p>{{ post.content }}</p>
        <div class="card-actions justify-end">
          <button (click)="deletePost(post.id)" class="btn btn-outline btn-sm btn-error">Delete</button>
        </div>
      </div>
    </div>

  </ng-container>
</div>
