<div class="w-full">
  <div>
    <h1 class="text-5xl font-medium mb-4">{{padlet.name}}</h1>
    <h2>{{padlet.cover}}</h2>
  </div>
  <div class="flex flex-wrap items-center bg-base-100 justify-evenly w-full rounded-box shadow my-4 p-4">

    <ng-container *ngIf="padlet.user?.avatar">
      <div class="flex flex-col items-center">
        <div class="avatar">
          <div class="w-12 h-12 rounded-full">
            <img [src]="padlet.user?.avatar" [alt]="padlet.user?.name"/>
          </div>
        </div>
        <span class="text-base">{{padlet.user?.name}} (Owner)</span>
      </div>
    </ng-container>

    <div class="divider divider-horizontal"></div>

    <button stopPropagation (click)="showModal('addPost')" class="btn btn-primary">New Post</button>

    <tw-modal *ngIf="modals['addPost']" modalName="addPost" teleport (modalCloseEvent)="closeModal($event)"
              modalTitle="New Post">
      <tw-post-store [padlet]="padlet" (postCreated)="addPost($event)"></tw-post-store>
    </tw-modal>

    <div class="divider divider-horizontal"></div>

    <div *ngIf="!isPublic" class="avatar-group -space-x-6">
      <ng-container *ngFor="let user of padlet.padlet_user">
        <div class="avatar h-14">
          <div class="w-12 h-12 rounded-full">
            <img [src]="user.avatar" [alt]="user.name"/>
          </div>
        </div>
      </ng-container>

    </div>

    <!--  Share Padlet -->

    <button class="btn" (click)="copyToClipboard()">Copy link</button>

    <button *ngIf="auth.isAuthenticated && !isPublic && auth.isAdmin(padlet)" stopPropagation
            (click)="showModal('share')" class="btn btn-primary">Share Padlet
    </button>
    <tw-modal *ngIf="modals['share']" modalClass="w-9/12 max-w-5xl" modalName="share" teleport
              (modalCloseEvent)="closeModal($event)" modalTitle="Share Padlet">
      <tw-padlet-share [padlet]="padlet"></tw-padlet-share>
    </tw-modal>

    <!--  Toggle Public  -->
    <div *ngIf="auth.isAdmin(padlet)" class="form-control">
      <label class="label cursor-pointer">
        <input (change)="togglePublic()" type="checkbox" class="toggle" [checked]="isPublic"/>
        <span class=" ml-2 label-text">is public</span>
      </label>
    </div>

    <div *ngIf="isPublic || (auth.isAuthenticated && auth.isAdmin(padlet))" class="divider divider-horizontal"></div>

    <!--  Delete Padlet  -->
    <button *ngIf="isPublic || (auth.isAuthenticated && auth.isAdmin(padlet))" stopPropagation (click)="showModal('deletePadlet')" class="btn btn-error">Delete Padlet</button>
    <tw-modal *ngIf="modals['deletePadlet']" modalName="deletePadlet" teleport (modalCloseEvent)="closeModal($event)"
              modalTitle="Delete Padlet">
      <p>Are you sure you want to delete this padlet?</p>
      <div class="modal-actions">
        <button (click)="deletePadlet()" class="btn btn-error">Yes delete it!</button>
      </div>
    </tw-modal>

  </div>
</div>

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4  gap-4">
  <ng-container *ngFor="let post of posts |search: search.search: 'content' | sort: 'rating': 'DESC'">

    <!--  Post Card  -->

    <div stopPropagation (click)="openPost(post)" class="card max-w-96 bg-base-100 shadow-xl cursor-pointer">


      <figure *ngIf="post.cover" class="p-4 pb-0"><img class="rounded-box" [lazyLoadImg]="post.cover" alt=""/></figure>
      <div *ngIf="!post.cover && containsUrl(post.content)" class="p-4 pb-0">
        <tw-link-preview [url]="getUrl(post.content)"></tw-link-preview>
      </div>

      <div class="card-body p-4">
        <h2 class="font-bold text-sm">
          {{ post.title }}
        </h2>
        <div class="text-xs" [innerHTML]="wrapUrl(post.content)"></div>
        <!--        <p >{{ post.content }}</p>-->
        <div class="card-actions justify-between mt-1">
          <tw-rating [post]="post"></tw-rating>
        </div>
      </div>
    </div>

  </ng-container>

  <tw-modal *ngIf="modals['editPost']" modalName="editPost" teleport (modalCloseEvent)="closeModal($event)"
            modalClass="w-11/12 max-w-5xl">
    <tw-post-show (postEditEvent)="updatePost($event)" (postDeleteEvent)="deletePost($event)"
                  [post]="currentPost"></tw-post-show>
  </tw-modal>

</div>
