<div>
  <div>
    <h1 class="text-5xl font-medium mb-4">{{padlet.name}}</h1>
  </div>
  <div class="flex">

    <button stopPropagation (click)="showModal('addPost')" class="btn btn-primary mb-4">New Post</button>

    <tw-modal *ngIf="modals['addPost']" modalName="addPost" teleport (modalCloseEvent)="closeModal($event)" modalTitle="New Post">
      <tw-post-store [padlet]="padlet"></tw-post-store>
    </tw-modal>

    <div *ngIf="!padlet.public" class="avatar-group -space-x-6">
      <ng-container *ngFor="let user of padlet.padlet_user">
        <div class="avatar">
          <div class="w-12">
            <img [src]="user.avatar" [alt]="user.name"/>
          </div>
        </div>
      </ng-container>

    </div>

<!--  Share Padlet -->

    <ng-container *ngIf="padlet.public">
      <button class="btn" (click)="copyToClipboard()">Copy link</button>
    </ng-container>
    <button stopPropagation (click)="showModal('share')" class="btn btn-primary mb-4">Share Padlet</button>

    <tw-modal *ngIf="modals['share']" modalClass="w-9/12 max-w-5xl" modalName="share" teleport (modalCloseEvent)="closeModal($event)" modalTitle="Share Padlet">
      <tw-padlet-share [padlet]="padlet"></tw-padlet-share>
    </tw-modal>

    <div *ngIf="padlet.user_id == auth.user?.id" class="form-control">
      <label class="label cursor-pointer">
        <span class="label-text">Padlet is public</span>
        <input (change)="togglePublic()" type="checkbox" class="toggle toggle-success" checked/>
      </label>
    </div>
  </div>
</div>

<div class="grid grid-cols-3 gap-4">
  <ng-container *ngFor="let post of posts">

    <!--  Post Card  -->
    <div class="card max-w-96 bg-base-100 shadow-xl">
      <figure><img [src]="post.cover" alt=""/></figure>
      <div class="card-body">
        <h2 class="card-title">
          <input [value]="post.content" (input)="updatePost(post, $event)" (click)="$event.preventDefault()" type="text" placeholder="Type here"
                 class="card-title input input-ghost input-sm text-lg p-0 w-full max-w-xs"/>
        </h2>
        <p>{{ post.content }}</p>
        <div class="card-actions justify-end">
          <button (click)="deletePost(post.id)" class="btn btn-outline btn-sm btn-error">Delete</button>
        </div>
      </div>
    </div>

  </ng-container>
</div>
