<div>
  <a routerLink="/new/padlet" class="btn btn-primary mb-4">Create new Padlet</a>
</div>

<ng-container *ngIf="auth.isAuthenticated">
  <h2 class="text-5xl font-medium my-6">Your Padlets</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">

    <ng-container *ngFor="let padlet of padlets|search: search.search: 'name' |filter: [pIsOwner]">
      <a *ngIf="padlet" [href]="'padlet/' + padlet.id">
        <div class="card max-w-96 bg-base-100 shadow-xl">
          <figure *ngIf="padlet.cover"><img [lazyLoadImg]="padlet.cover" alt=""/></figure>
          <div class="card-body">
            <h2 class="card-title">
              <input [value]="padlet.name" (input)="updatePadlet(padlet, $event)" (click)="$event.preventDefault()"
                     type="text" placeholder="Type here"
                     class="card-title input input-ghost input-sm text-lg p-0 w-full max-w-xs"/>
              <span *ngIf="!padlet.public" class="badge badge-lg">Private</span>
            </h2>
          </div>
        </div>
      </a>
    </ng-container>

    <!--  <ng-container *ngFor="let padlet of padlets|filter: [pIsPublic]">-->
    <!--    <ng-container *ngTemplateOutlet="padletCard; context: { padlet: padlet }"></ng-container>-->
    <!--  </ng-container>-->

  </div>


  <div class="my-12"></div>

  <h2 class="text-5xl font-medium my-6">Padlets shared with you</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <ng-container *ngFor="let padlet of padlets|search: search.search: 'name' |filter: [pIsShared]">
      <a *ngIf="padlet" [href]="'padlet/' + padlet.id">
        <div class="card max-w-96 bg-base-100 shadow-xl">
          <figure *ngIf="padlet.cover"><img [lazyLoadImg]="padlet.cover" alt=""/></figure>
          <div class="card-body">
            <h2 class="card-title">
              <input [value]="padlet.name" (input)="updatePadlet(padlet, $event)" (click)="$event.preventDefault()"
                     type="text" placeholder="Type here"
                     class="card-title input input-ghost input-sm text-lg p-0 w-full max-w-xs"/>
              <span *ngIf="!padlet.public" class="badge badge-lg">Private</span>
            </h2>
            <p class="text-xs">by {{padlet.user?.name ?? 'Unknown'}}</p>
          </div>
        </div>
      </a>
    </ng-container>
  </div>
</ng-container>

<div class="my-12"></div>

<h2 class="text-5xl font-medium my-6">Public Padlets</h2>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
  <ng-container *ngFor="let padlet of padlets|search: search.search: 'name' |filter: [pIsPublic] | filter: [pIsOwner, pIsShared]: 'NOT'">
    <a *ngIf="padlet" [href]="'padlet/' + padlet.id">
      <div class="card max-w-96 bg-base-100 shadow-xl">
        <figure *ngIf="padlet.cover"><img [lazyLoadImg]="padlet.cover" alt=""/></figure>
        <div class="card-body">
          <h2 class="card-title">
            <input [value]="padlet.name" (input)="updatePadlet(padlet, $event)" (click)="$event.preventDefault()"
                   type="text" placeholder="Type here"
                   class="card-title input input-ghost input-sm text-lg p-0 w-full max-w-xs"/>
            <span *ngIf="!padlet.public" class="badge badge-lg">Private</span>
          </h2>
          <p class="text-xs">by {{padlet.user?.name ?? 'Unknown'}}</p>
        </div>
      </div>
    </a>
  </ng-container>
</div>

<!--  Padlet Card  -->
<ng-template #padletCard let-padlet>
  <a *ngIf="padlet" [href]="'padlet/' + padlet.id">
    <div class="card max-w-96 bg-base-100 shadow-xl">
      <figure *ngIf="padlet.cover"><img [lazyLoadImg]="padlet.cover" alt=""/></figure>
      <div class="card-body">
        <h2 class="card-title">
          <input [value]="padlet.name" (input)="updatePadlet(padlet, $event)" (click)="$event.preventDefault()"
                 type="text" placeholder="Type here"
                 class="card-title input input-ghost input-sm text-lg p-0 w-full max-w-xs"/>
          <span *ngIf="!padlet.public" class="badge badge-lg">Private</span>
        </h2>
      </div>
    </div>
  </a>
</ng-template>


